*{
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
    font-family: "Inter", "Rubik";
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    color: #3E8989;
}
.catalog__txt{
    font-size: 24px;
    font-weight: 600;
    transition: 0.4s;
}
.catalog__txt:hover{
color: #B4436C;
}
.part-1{
    font-size: 20px;
    color: #000;
}
